body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #F7ECDE;
    font-family: "PT Sans Caption", serif;
    font-weight: 600;
}
.container {
    margin: auto;
}


h1 {
    text-align: center;
    font-family: "Pacifico", serif;
    font-size: 60px;
    
}

.font-icons {
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
.font-icons h2 {
    font-size: 35px;
    font-weight: 600;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: center;
}
.hidden {
    display: none;
    color: red;
    margin-top: 5px;
}